<clickhouse>
    <users>
        <pyspark>
            <password_sha256_hex>{{ clickhouse_pyspark_password_sha }}</password_sha256_hex>

            <networks>
                <ip>0.0.0.0/0</ip>
                <ip>::/0</ip>
            </networks>

            <profile>pyspark</profile>
            <quota>pyspark</quota>


            <grants>
                <query>GRANT SELECT, INSERT, ALTER, CREATE TABLE, DROP TABLE, TRUNCATE, OPTIMIZE ON warehouse.*</query>
                <query>GRANT SELECT ON system.parts</query>
                <query>GRANT SELECT ON system.columns</query>
                <query>GRANT SELECT ON system.tables</query>
            </grants>
        </pyspark>
    </users>

    <profiles>
        <pyspark>
            <readonly>0</readonly>
            <max_threads>8</max_threads>
            <max_memory_usage>20000000000</max_memory_usage>
        </pyspark>
    </profiles>

    <quotas>
        <pyspark>
            <interval>
                <duration>3600</duration>
                <queries>0</queries>
                <errors>1000</errors>
            </interval>
        </pyspark>
    </quotas>
</clickhouse>