<clickhouse>
    <users>
        <analytics_ro>
            <password_sha256_hex>{{ clickhouse_analytics_ro_password_sha }}</password_sha256_hex>

<networks>
{% for host in groups['clickhouse-1'] %}
    <ip>{{ hostvars[host].ansible_host | default(host) }}</ip>
{% endfor %}
</networks>

            <profile>readonly</profile>
            <quota>readonly</quota>

            <allow_databases>
                <database>warehouse</database>
            </allow_databases>
        </analytics_ro>
    </users>
</clickhouse>
