<clickhouse>
    <users>
        <!-- users are defined in users.d/*.xml -->
    </users>

    <profiles>
        <!-- profiles can be extended in users.d if needed -->
    </profiles>

    <quotas>
        <!-- quotas can be extended in users.d if needed -->
    </quotas>
</clickhouse>
